.topic{
	text-align: center;
	color: rgb(0, 102, 204);
	word-spacing: 5;
}
.texts{
	padding-top: 30 em;
	font-family: sans-serif;
	text-align: center;
	font-size: 25 em;
	color: #4dff4d;
	font-weight:400;
	letter-spacing: 2;
}